<!DOCTYPE html>
    <html>
        <head>
            <meta charset="UTF-8">
            <meta name="descripsion" content="welcom to my web">
            <title>template html and css</title>
            <link rel="stylesheet" href="css/template.css" type="text/css" /> <!--this is css file-->
            <link rel="stylesheet" href="css/normalize.css" type="text/css"/><!--normalization css file--> 
            <link rel="stylesheet" href="css/all.min.css" type="text/css"/> <!--all.min css file-->
            <!-- font link-->
            <link rel="preconnect" href="https://fonts.googleapis.com"/>
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
        </head>
            <div class="header">
                <div class="container">
                    <img class="logo" src="images/bing.ico">
                    <div class="links">
                        <span class="icon">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                        <ul>
                            <li><a href="#services">services</a></li>
                            <li><a href="#portfolio">portfolio</a></li>
                            <li><a href="#about">about</a></li>
                            <li><a href="#contact">contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="landing">
                <div class="intro_text">
                <h1>hello to our web</h1>
                <p>this is our page is made by eng. ahmed mohamed</p>
                </div>
            </div>
                <!--start feature -->
        <div class="features">
               <div class="container">
                    <div class="feat">
                        <i class="fab fa-amilia"></i>
                        <h3>tell us your ideas</h3>
                        <p>this is ahmed mohamed site this is ahmed mohamed site this is ahmed mohamed site this is ahmed mohamed site </p>
                    </div>
                    <div class="feat">
                       <i class="fab fa-adn"></i>
                        <h3>we will do all the work</h3>
                        <p>this is ahmed mohamed site this is ahmed mohamed site this is ahmed mohamed site this is ahmed mohamed site </p>
                    </div>
                    <div class="feat">
                       <i class="fas fa-address-book"></i>
                        <h3>your work is worldivide</h3>
                        <p>this is ahmed mohamed site this is ahmed mohamed site this is ahmed mohamed site this is ahmed mohamed site </p>
                     </div>
                </div>
        </div>
                <!--end feature -->
                <div class="services">
                    <h2 class="specialhead">services</h2>
                    <p>donot be busy be crative</p>
                    <div class="container">                       
                        <div class="col">
                           <div class="box">
                           <i class="fab fa-angellist"></i>
                           <div class="text">
                           <h3>graphic design</h3>
                           <p>graphic design is very good graphic design is very good graphic design is very good </p>
                           </div>
                           </div>
                           <div class="box">
                           <i class="fab fa-accusoft"></i>
                           <div class="text">
                           <h3>graphic design</h3>
                           <p>graphic design is very good graphic design is very good graphic design is very good </p>
                           </div>
                           </div>
                        </div>
                        <div class="col">
                           <div class="box">
                           <i class="fab fa-algolia"></i>
                           <div class="text">
                           <h3>graphic design</h3>
                           <p>graphic design is very good graphic design is very good graphic design is very good </p>
                           </div>
                           </div>
                           <div class="box">
                           <i class="fab fa-affiliatetheme"></i>
                           <div class="text">
                           <h3>graphic design</h3>
                           <p>graphic design is very good graphic design is very good graphic design is very good </p>
                           </div>
                           </div>
                        </div>
                        <div class="col">
                            <div class="image">
                            <img src="images/land.png" />
                            </div>
                        </div>
                    </div>
                </div>
                <!-- START ABOUT -->
                <div class="about">
                    <h2 class="specialhead">ABOUT</h2>
                    <p>do not be lazy be active as ahmed</p>
                    <div class="container">
                        <div class="colum">
                            <img src="images/land.png"  width="400px" height="300px">
                        </div>
                        <div class="colum">
                            <p>this is our company and this is our website this is our company and this is our website 
                            this is our company and this is our website this is our company and this is our website </p>
                            <hr>
                            <p>this is our company and this is our website this is our company and this is our website 
                            this is our company and this is our website this is our company and this is our website</p>
                        </div>
                    </div>
                </div>
                <!-- END ABOUT -->
        </body>
    </html>