/* start maincontentdiv */
.maincontentdiv{

}
/* end maincontentdiv */

/* start pagination  */
.pagination ul{
    width: fit-content;
}

.pagination nav{
    background: #fff;
}
.pagination{
    width: fit-content;
    margin: auto;
}
/* end pagination  */

/* start exam view */

.exam-container{
    margin-bottom: 50px;
}

.the-exam .part {
    padding: 20px;
    border-radius: 5px;
    background: #f3f3f3;
    margin: 25px 0px;
}
.the-exam .part ul{
    padding: 20px;
}
.the-exam .part li{
    font-size: 13px;
    font-weight: 400;
    color: #474747;
}
.the-exam .part .the-question{
    font-size: 14px;
    font-style: oblique;
    font-weight: 500;
    color: #252525;
    background: #e6e6e6;
    padding: 20px;
    border-radius: 3px;

}

#exam-submit{
    padding: 1px 30px;
    color: #252525;
}

.exam_details {
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    color: #474747;
}
.exam_details .duration {
    font-size: 16px;
    font-weight: 400;
    color: #252525;
}
/* end exam  view */

/* start exam choose */
.examchoose .card{
    margin: 20px 0;
    background: rgb(230, 230, 230);
    padding: 15px;
}
.examchoose .card .row div:first-child{
    margin-bottom: 20px;
}
/* end exam choose */


/* start account */
.account .accountimage{
    display: flex;
    justify-content: center;
}
.account .accountimage img{
    margin: 50px 0;
    width: 250px;
    border-radius: 50%;
}
.account .accountimagelist img{
    width: 70px;
    border-radius: 10%;
    margin: 50px 0;
}
.account .accountinfo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}
.account .accountinfo .accountname{
    margin: 20px;
    font-size: 30px;
    font-weight: 600;
    font-style: oblique;
    color: #545454;
    display: inline;
}
.account .accountinfo .accountrole{
    display: inline;
    color: #b5b5b5;
}
.account .accountinfo .accountemail {
    margin: 20px;
    font-size: 20px;
    font-weight: 400;
    color: #545454;
}
/* end account */
